<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847226647552-qpjssju8d6trveeg536apmc68q03dcuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847226647552-qpjssju8d6trveeg536apmc68q03dcuu</string>
	<key>API_KEY</key>
	<string>AIzaSyDBXtTH0qxHMGaqVwQwc7QlfY1Veq-4Bs0</string>
	<key>GCM_SENDER_ID</key>
	<string>847226647552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>kleat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kleat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847226647552:ios:f71a667ffa517271ee54e5</string>
</dict>
</plist>